# Loading Packages

In [1]:
import pandas as pd 
import numpy as np                     # For mathematical calculations 
import seaborn as sns                  # For data visualization 
import matplotlib.pyplot as plt  # For plotting graphs 
%matplotlib inline 
import warnings   # To ignore any warnings warnings.filterwarnings("ignore")

# Reading data

In [2]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

# Understanding Data

In [3]:
#check the features present in our data
data.columns

Index(['Sale_Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'No of Times Visited', 'Overall Grade',
       'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)',
       'Age of House (in Years)', 'Latitude', 'Longitude',
       'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)', 'Years Since Renovation',
       'Condition_of_the_House_Excellent', 'Condition_of_the_House_Fair',
       'Condition_of_the_House_Good', 'Condition_of_the_House_Okay',
       'Ever_Renovated_Yes', 'Waterfront_View_Yes',
       'Zipcode_Group_Zipcode_Group_1', 'Zipcode_Group_Zipcode_Group_2',
       'Zipcode_Group_Zipcode_Group_3', 'Zipcode_Group_Zipcode_Group_4',
       'Zipcode_Group_Zipcode_Group_5', 'Zipcode_Group_Zipcode_Group_6',
       'Zipcode_Group_Zipcode_Group_7', 'Zipcode_Group_Zipcode_Group_8',
       'Zipcode_Group_Zipcode_Group_9'],
      dtype='object')

In [4]:
# the shape of the dataset.
data.shape

(21609, 31)

### Q1:   Find out statistical information about features using describe function in the dataset?

In [5]:
data.describe(include='all')

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,5.116186e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,2.500620e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Q2: Find out the number of missing values for each feature in the dataset ?

In [6]:
# missing values
data.isnull().sum()

Sale_Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
No of Times Visited                          0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
Years Since Renovation                       0
Condition_of_the_House_Excellent             0
Condition_of_the_House_Fair                  0
Condition_of_the_House_Good                  0
Condition_of_the_House_Okay                  0
Ever_Renovated_Yes                           0
Waterfront_View_Yes                          0
Zipcode_Group_Zipcode_Group_1                0
Zipcode_Group_Zipcode_Group_2                0
Zipcode_Group_Zipcode_Group_3                0
Zipcode_Group_Zipcode_Group_4                0
Zipcode_Group_Zipcode_Group_5                0
Zipcode_Group_Zipcode_Group_6                0
Zipcode_Group_Zipcode_Group_7                0
Zipcode_Group_Zipcode_Group_8                0
Zipcode_Group_Zipcode_Group_9                0
dtype: int64

### Q3: If sales price is greater/less than 2 standard deviation from the mean sale price then delete such rows?
* How the shape of data will change after removing these values ?

In [7]:
print("Before deleting outliers length = " , len(data))                
target = data['Sale_Price']
target_mean = target.mean()
target_sd = target.std()
data = data[(target > target_mean - 2*target_sd) & (target < target_mean + 2*target_sd)]
print("After deleting outliers length = " ,  len(data))

Before deleting outliers length =  21609
After deleting outliers length =  20173

### Q4: Divide the features into Numerical and Categorical type ?

In [8]:
Numerical_Type = ['Sale_Price','Flat Area (in Sqft)', 'Lot Area (in Sqft)',
       'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)',
       'Age of House (in Years)', 'Latitude', 'Longitude',
       'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)']

Categorical_Type = []

for feature in data.columns:
    if (feature not in Numerical_Type):
        Categorical_Type.append(feature)

numerical_features   = data[Numerical_Type]
categorical_features = data[Categorical_Type]

numerical_features,categorical_features

(       Sale_Price  Flat Area (in Sqft)  Lot Area (in Sqft)  \
 0        221900.0               1180.0              5650.0
 1        538000.0               2570.0              7242.0
 2        180000.0                770.0             10000.0
 3        604000.0               1960.0              5000.0
 4        510000.0               1680.0              8080.0
 ...           ...                  ...                 ...
 21604    360000.0               1530.0              1131.0
 21605    400000.0               2310.0              5813.0
 21606    402101.0               1020.0              1350.0
 21607    400000.0               1600.0              2388.0
 21608    325000.0               1020.0              1076.0

        Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
 0                                         1180.0                        0
 1                                         2170.0                      400
 2                                          770.0                        0
 3                                         1050.0                      910
 4                                         1680.0                        0
 ...                                          ...                      ...
 21604                                     1530.0                        0
 21605                                     2310.0                        0
 21606                                     1020.0                        0
 21607                                     1600.0                        0
 21608                                     1020.0                        0

        Age of House (in Years)  Latitude  Longitude  \
 0                           63   47.5112   -122.257
 1                           67   47.7210   -122.319
 2                           85   47.7379   -122.233
 3                           53   47.5208   -122.393
 4                           31   47.6168   -122.045
 ...                        ...       ...        ...
 21604                        9   47.6993   -122.346
 21605                        4   47.5107   -122.362
 21606                        9   47.5944   -122.299
 21607                       14   47.5345   -122.069
 21608                       10   47.5941   -122.299

        Living Area after Renovation (in Sqft)  \
 0                                      1340.0
 1                                      1690.0
 2                                      2720.0
 3                                      1360.0
 4                                      1800.0
 ...                                       ...
 21604                                  1530.0
 21605                                  1830.0
 21606                                  1020.0
 21607                                  1410.0
 21608                                  1020.0

        Lot Area after Renovation (in Sqft)
 0                                     5650
 1                                     7639
 2                                     8062
 3                                     5000
 4                                     7503
 ...                                    ...
 21604                                 1509
 21605                                 7200
 21606                                 2007
 21607                                 1287
 21608                                 1357

 [20173 rows x 10 columns],
        No of Bedrooms  No of Bathrooms  No of Floors  No of Times Visited  \
 0                   3             1.00           1.0                    0
 1                   3             2.25           2.0                    0
 2                   2             1.00           1.0                    0
 3                   4             3.00           1.0                    0
 4                   3             2.00           1.0                    0
 ...               ...              ...           ...                  ...
 21604               3             2.50           3.0                    0
 21605               4             2.50           2.0                    0
 21606               2             0.75           2.0                    0
 21607               3             2.50           2.0                    0
 21608               2             0.75           2.0                    0

        Overall Grade  Years Since Renovation  \
 0                  7                       0
 1                  7                      26
 2                  6                       0
 3                  7                       0
 4                  8                       0
 ...              ...                     ...
 21604              8                       0
 21605              8                       0
 21606              7                       0
 21607              8                       0
 21608              7                       0

        Condition_of_the_House_Excellent  Condition_of_the_House_Fair  \
 0                                     0                            1
 1                                     0                            1
 2                                     0                            1
 3                                     1                            0
 4                                     0                            1
 ...                                 ...                          ...
 21604                                 0                            1
 21605                                 0                            1
 21606                                 0                            1
 21607                                 0                            1
 21608                                 0                            1

        Condition_of_the_House_Good  Condition_of_the_House_Okay  ...  \
 0                                0                            0  ...
 1                                0                            0  ...
 2                                0                            0  ...
 3                                0                            0  ...
 4                                0                            0  ...
 ...                            ...                          ...  ...
 21604                            0                            0  ...
 21605                            0                            0  ...
 21606                            0                            0  ...
 21607                            0                            0  ...
 21608                            0                            0  ...

        Waterfront_View_Yes  Zipcode_Group_Zipcode_Group_1  \
 0                        0                              0
 1                        0                              0
 2                        0                              0
 3                        0                              0
 4                        0                              0
 ...                    ...                            ...
 21604                    0                              0
 21605                    0                              1
 21606                    0                              0
 21607                    0                              0
 21608                    0                              0

        Zipcode_Group_Zipcode_Group_2  Zipcode_Group_Zipcode_Group_3  \
 0                                  0                              0
 1                                  1                              0
 2                                  1                              0
 3                                  0                              1
 4                                  0                              0
 ...                              ...                            ...
 21604                              0                              1
 21605                              0                              0
 21606                              0                              1
 21607                              0                              0
 21608                              0                              1

        Zipcode_Group_Zipcode_Group_4  Zipcode_Group_Zipcode_Group_5  \
 0                                  0                              0
 1                                  0                              0
 2                                  0                              0
 3                                  0                              0
 4                                  1                              0
 ...                              ...                            ...
 21604                              0                              0
 21605                              0                              0
 21606                              0                              0
 21607                              1                              0
 21608                              0                              0

        Zipcode_Group_Zipcode_Group_6  Zipcode_Group_Zipcode_Group_7  \
 0                                  0                              0
 1                                  0                              0
 2                                  0                              0
 3                                  0                              0
 4                                  0                              0
 ...                              ...                            ...
 21604                              0                              0
 21605                              0                              0
 21606                              0                              0
 21607                              0                              0
 21608                              0                              0

        Zipcode_Group_Zipcode_Group_8  Zipcode_Group_Zipcode_Group_9
 0                                  0                              0
 1                                  0                              0
 2                                  0                              0
 3                                  0                              0
 4                                  0                              0
 ...                              ...                            ...
 21604                              0                              0
 21605                              0                              0
 21606                              0                              0
 21607                              0                              0
 21608                              0                              0

 [20173 rows x 21 columns])

### Q5: Fill the correct values for creating heatmap representing the correlation from the data?

In [1]:
def correlation_heatmap(data):
    _, ax = plt.subplots(figsize = (25, 20))
    colormap= sns.diverging_palette(220, 10, as_cmap = True)
    sns.heatmap(data.corr(), annot=True, cmap = colormap)

correlation_heatmap(data)

NameError: name 'data' is not defined

### Segregating variables - Dependent & Independent

In [10]:
#seperating independent and dependent variables

data_x = data.drop(['Sale_Price'], axis=1)
data_y = data['Sale_Price']

### Q6: Which of these following will lead to right formations of train, test and validation set ?

In [11]:
from sklearn.model_selection import train_test_split as tts

* A

In [13]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.2 , random_state = 50)
train_x, val_x, train_y, val_y = tts(data_x, data_y, test_size = 0.2 , random_state = 51)

* B

In [14]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.6 , random_state = 50)
train_x, val_x, train_y, val_y = tts(data_x, data_y, test_size = 0.6 , random_state = 51)

* C

In [15]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.6 , random_state = 50)
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.6 , random_state = 51)

* D

In [16]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.2 , random_state = 50)
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.2 , random_state = 51)

__Ans : D__

* A : Validation set is being taken from data_x which is wrong as we need to seprate validation set from training data.
* B : Test and Validation set size is more than training set which will lead to a very weak model and there is also same issue as option A
* C : Test and Validation set size is more than training set which will lead to a very vulnerable model
* D : This is correct

### Q7 : What is wrong with this code for scaling the data ?

In [17]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(data_x,data_y, random_state = 86)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
train_x = ss.fit_transform(train_x)
test_x = ss.fit_transform(test_x)

Ans : We never use fit_transform method for scaling test data. The reason is that we want to scale the test data based on the parameters of train data. So for train data we use fit_tranform method but for test data we use transform method that will scale the data of test set based on the parameters of train data (mean and standard deviation of train data)